{% load static %}
{% load crispy_forms_tags %}
{% load has_group %}
{% load humanize %}
<!doctype html>
<html class="no-js" lang="en" style="background-color: gray;">

<head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {% if title %}
        <title>UNSER - {{ title }}</title>
        {% else %}
        <title>UNSER</title>
        {% endif %}
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/PNG" href="{% static 'img/1.PNG' %}">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <!-- adminpro icon CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/adminpro-custon-icon.css' %}">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">
        <!-- modals CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'css/modals.css' %}">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <!-- data-table CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/data-table/bootstrap-table.css' %}">
    <link rel="stylesheet" href="{% static 'css/data-table/bootstrap-editable.css' %}">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <!-- charts C3 CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/c3.min.css' %}">
    <!-- forms CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/form/all-type-forms.css' %}">
    <!-- switcher CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/switcher/color-switcher.css' %}">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- modernizr JS
		============================================ -->
    <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
    <!-- Color Css Files
		============================================ -->
    <link rel="alternate stylesheet" type="text/css" href="{% static 'css/switcher/color-one.css' %}" title="color-one" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'css/switcher/color-two.css' %}" title="color-two" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'css/switcher/color-three.css' %}" title="color-three" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'css/switcher/color-four.css' %}" title="color-four" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'css/switcher/color-five.css' %}" title="color-five" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'css/switcher/color-six.css' %}" title="color-six" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'css/switcher/color-seven.css' %}" title="color-seven" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'css/switcher/color-eight.css' %}" title="color-eight" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'css/switcher/color-nine.css' %}" title="color-nine" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'css/switcher/color-ten.css' %}" title="color-ten" media="screen" />
</head>
<style> 
#body {
    background-color: gray;
  /*background-image: url("{% static 'img/bgac.jpg' %}");*/
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
</style>

<body id="body">
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Header top area start-->
    <div class="header-top-area">
        <div style="width:100%;">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a href="#" class=""><img src="{% static 'img/79.png' %}" alt="" 
                    style="width:100%;"></a>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="header-top-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a href="#" class="logo pull-right"><img src="{% static 'img/5.png' %}" alt=""></a>
                    <a href="#" class="logo float-right" style="float: right"><img src="{% static 'img/flag.gif' %}" alt=""></a>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <div class="admin-logo">
                        <a href="#"><img src="{% static 'img/logo/log.png' %}" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="header-top-menu">
                        <ul class="nav navbar-nav mai-top-nav">
                            <li class="nav-item"><a href="{% url 'ministry-home'  %}" class="nav-link">Home</a>
                            </li>
                            {% if user.is_authenticated %}
                            <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Logout</a></li>
                            {% else %}
                            <li class="nav-item"><a href="{% url 'register' %}" class="nav-link">Register</a>
                            </li>
                            <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Login</a>
                            </li>
                            {% endif %}
                            <li class="nav-item"><a href="https://www.globalautosystems.co.ug/" class="nav-link" target="_blank">GAS Website</a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-9 col-sm-6 col-xs-12">
                    <div class="header-right-info">
                        <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                       
                            <li class="nav-item">
                                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                    <span class="adminpro-icon adminpro-user-rounded header-riht-inf"></span>
                                    <span class="admin-name">{% if user.is_authenticated %}{{ user.first_name}}{% else %} Get Started{% endif %}</span>
                                    <span class="author-project-icon adminpro-icon adminpro-down-arrow"></span>
                                </a>
                                <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated flipInX">
                                {% if user.is_authenticated %}
                                    <li><a href="{% url 'profile' %}"><span class="adminpro-icon adminpro-home-admin author-log-ic"></span>My Account</a>
                                    </li>
                                    <li><a href="{% url 'update-profile' %}"><span class="adminpro-icon adminpro-user-rounded author-log-ic"></span>Update Profile</a>
                                    </li>
                                    <li><a href="{% url 'logout' %}"><span class="adminpro-icon adminpro-locked author-log-ic"></span>Log Out</a>
                                    </li>
                                    {% else %}
                                    <li><a href="{% url 'register' %}"><span class="adminpro-icon adminpro-locked author-log-ic"></span>Register</a>
                                    </li>
                                    <li><a href="{% url 'login' %}"><span class="adminpro-icon adminpro-locked author-log-ic"></span>Login</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Header top area end-->
    {% if user.is_authenticated %}
    {% block menu %}

        <!-- Main Menu area start-->
    <div class="main-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs custom-menu-wrap">
                    {% if request.user|has_group:"Ministry" %}
                        <li class="{% if title == 'Home'  %} active {% endif %}"><a data-toggle="tab" href="#Home"><i class="fa fa-home"></i> Home</a>
                        </li>
                        <li class="{% if title == 'Schools'  %} active {% endif %}"><a data-toggle="tab" href="#schools"><i class="fa fa-home"></i> Schools</a>
                        </li>
                        <li class="{% if title == 'Teachers'  %} active {% endif %}"><a data-toggle="tab" href="#teachers"><i class="fa fa-users"></i> Teachers</a>
                        </li>
                        <li class="{% if title == 'Resources'  %} active {% endif %}"><a data-toggle="tab" href="#resources"><i class="fa fa-desktop"></i> Resources</a>
                        </li>
                        <li class="{% if title == 'DEOs'  %} active {% endif %}"><a data-toggle="tab" href="#deos"><i class="fa fa-users"></i> DEOs</a>
                        </li>
                        <li class="{% if title == 'Results'  %} active {% endif %}"><a data-toggle="tab" href="#results"><i class="fa fa-book"></i> Results</a>
                        </li>
                        <li class="{% if title == 'Marketing'  %} active {% endif %}"><a data-toggle="tab" href="#marketing"><i class="fa fa-send"></i> Marketing</a>
                        </li>
                        <li class="{% if title == 'Inbox'  %} active {% endif %}"><a data-toggle="tab" href="#inbox"><i class="fa fa-envelope"></i> Inbox</a>
                        </li>
                        <li class="{% if title == 'Settings'  %} active {% endif %}"><a data-toggle="tab" href="#settings"><i class="fa fa-gear"></i> Settings</a>
                        </li>
                    {% elif request.user|has_group:"School" %}
                        <li class="{% if title == 'Home'  %} active {% endif %}"><a data-toggle="tab" href="#Home">Home</a>
                        </li>
                        <li class="{% if title == 'Teachers'  %} active {% endif %}"><a data-toggle="tab" href="#teachers">Teachers</a>
                        </li>
                        <li class="{% if title == 'Resources'  %} active {% endif %}"><a data-toggle="tab" href="#resources">Resources</a>
                        </li>
                        <li class="{% if title == 'Students'  %} active {% endif %}"><a data-toggle="tab" href="#students">Students</a>
                        </li>
                        <li class="{% if title == 'Facilities'  %} active {% endif %}"><a data-toggle="tab" href="#facilities">Facilities</a>
                        </li>
                        <li class="{% if title == 'Results'  %} active {% endif %}"><a data-toggle="tab" href="#results">UNEB Results</a>
                        </li>
                        <li class="{% if title == 'Marketing'  %} active {% endif %}"><a data-toggle="tab" href="#marketing">Marketing</a>
                        </li>
                        <li class="{% if title == 'Inbox'  %} active {% endif %}"><a data-toggle="tab" href="#inbox">Inbox</a>
                        </li>
                        <li class="{% if title == 'Settings'  %} active {% endif %}"><a data-toggle="tab" href="#settings">Settings</a>
                        </li>
                    {% endif %}


                    </ul>
                    <div class="tab-content custom-menu-content">
                    {% if request.user|has_group:"Ministry" %}
                        <div id="Home" class="tab-pane {% if title == 'Home'  %} in active {% endif %} tab-custon-menu-bg animated flipInX">
                            <ul class="main-menu-dropdown">
                                <li class="active" ><a href="{% url 'ministry-home'  %}">Home</a>
                                </li>
                            </ul>
                            
                        </div>
                        <div id="schools" class="tab-pane {% if title == 'Schools'  %} in active {% endif %} tab-custon-menu-bg animated flipInX">
                            <ul class="main-menu-dropdown">
                                <li><a href="{% url 'new-school'  %}">Add School</a></li>
                                <li><a href="{% url 'view-schools'  %}">View Schools</a>
                                </li>
                            </ul>
                        </div>
                        <div id="results" class="tab-pane {% if title == 'Results'  %} in active {% endif %} tab-custon-menu-bg animated flipInX">
                            <ul class="main-menu-dropdown">
                                <li><a href="{% url 'ministry-home'  %}">Import Results</a></li>
                                <li><a href="{% url 'ministry-home'  %}">View S4 Results</a>
                                </li>
                                <li><a href="{% url 'ministry-home'  %}">View S6 Results</a>
                                </li>
                            </ul>
                        </div>
                        <div id="teachers" class="tab-pane {% if title == 'Teachers'  %} in active {% endif %} tab-custon-menu-bg animated flipInX">
                            <ul class="main-menu-dropdown">
                                <li><a href="{% url 'new-teacher'  %}">Add Teacher</a>
                                </li>
                                <li><a href="{% url 'view-teachers'  %}">View Teachers</a>
                                </li>
                                <li><a href="{% url 'transfer-teacher'  %}">Transfer Teachers</a>
                                </li>
                                <li><a href="{% url 'view-teacher-transfers'  %}">View Transfers</a>
                                </li>
                            </ul>
                        </div>
                        <div id="resources" class="tab-pane {% if title == 'Resources'  %} in active {% endif %} tab-custon-menu-bg animated flipInX">
                            <ul class="main-menu-dropdown">
                                <li><a href="{% url 'resource'  %}">Add Resource</a>
                                </li>
                                <li><a href="{% url 'view-resources'  %}">View Resources</a>
                                </li>
                                <li><a href="{% url 'allocate-resource'  %}">Allocate Resources</a>
                                </li>
                                <li><a href="{% url 'allocated-resources'  %}">View Allocated Resources</a>
                                </li>
                            </ul>
                        </div>
                        <div id="deos" class="tab-pane {% if title == 'DEOs'  %} in active {% endif %} tab-custon-menu-bg animated flipInX">
                            <ul class="main-menu-dropdown">
                                <li><a href="{% url 'new-deo'  %}">Add DEO</a>
                                </li>
                                <li><a href="{% url 'view-deos'  %}">View DEOs</a>
                                </li>
                                <li><a href="{% url 'transfer-deo'  %}">Transfer DEOs</a>
                                </li>
                                <li><a href="{% url 'ministry-home'  %}">View DEO Transfers</a>
                                </li>
                            </ul>
                        </div>
                        <div id="marketing" class="tab-pane {% if title == 'Marketing'  %} in active {% endif %} tab-custon-menu-bg animated flipInX">
                            <ul class="main-menu-dropdown">
                                <li><a href="{% url 'ministry-home' %}">Add Product</a>
                                </li>
                                <li><a href="{% url 'ministry-home' %}">My Peoducts</a>
                                </li>
                                <li><a href="{% url 'ministry-home' %}">Peoducts On Sale</a>
                                </li>
                            </ul>
                        </div>
                        <div id="inbox" class="tab-pane {% if title == 'Inbox'  %} in active {% endif %} tab-custon-menu-bg animated flipInX">
                            <ul class="main-menu-dropdown">
                                <li><a href="{% url 'ministry-home' %}">Compose</a>
                                </li>
                                <li><a href="{% url 'ministry-home' %}">Inbox</a>
                                </li>
                                <li><a href="{% url 'ministry-home' %}">Send</a>
                                </li>
                            </ul>
                        </div>
                        <div id="settings" class="tab-pane {% if title == 'Settings'  %} in active {% endif %} tab-custon-menu-bg animated flipInX">
                            <ul class="main-menu-dropdown">
                                <li><a href="{% url 'ministry-home' %}">School</a>
                                </li>
                                <li><a href="{% url 'ministry-home' %}">Teacher</a>
                                </li>
                                <li><a href="{% url 'ministry-home' %}">Resource</a>
                                </li>
                                <li><a href="{% url 'ministry-home' %}">DEOs</a>
                                </li>
                                <li><a href="{% url 'ministry-home' %}">Marketing</a>
                                </li>
                                <li><a href="{% url 'ministry-home' %}">Inbox</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {% elif request.user|has_group:"School" %}
                    <div id="Home" class="tab-pane {% if title == 'Home'  %} in active {% endif %} tab-custon-menu-bg animated flipInX">
                            <ul class="main-menu-dropdown">
                                <li class="active" ><a href="{% url 'school-home'  %}">Home</a>
                                </li>
                            </ul>
                            
                        </div>
                        <div id="facilities" class="tab-pane {% if title == 'Facilities'  %} in active {% endif %} tab-custon-menu-bg animated flipInX">
                            <ul class="main-menu-dropdown">
                                <li><a href="{% url 'school-home'  %}">Add Facility</a></li>
                                <li><a href="{% url 'school-home'  %}">View Facilities</a>
                                </li>
                            </ul>
                        </div>
                        <div id="students" class="tab-pane {% if title == 'Students'  %} in active {% endif %} tab-custon-menu-bg animated flipInX">
                            <ul class="main-menu-dropdown">
                                <li><a href="{% url 'add-students'  %}">Add Students</a></li>
                                <li><a href="{% url 'view-students'  %}">View Students</a>
                                </li>
                            </ul>
                        </div>
                        <div id="schools" class="tab-pane {% if title == 'Schools'  %} in active {% endif %} tab-custon-menu-bg animated flipInX">
                            <ul class="main-menu-dropdown">
                                <li><a href="{% url 'new-school'  %}">Add School</a></li>
                                <li><a href="{% url 'view-schools'  %}">View Schools</a>
                                </li>
                            </ul>
                        </div>
                        <div id="results" class="tab-pane {% if title == 'Results'  %} in active {% endif %} tab-custon-menu-bg animated flipInX">
                            <ul class="main-menu-dropdown">
                                <li><a href="{% url 'ministry-home'  %}">View S4 Results</a>
                                </li>
                                <li><a href="{% url 'ministry-home'  %}">View S6 Results</a>
                                </li>
                            </ul>
                        </div>
                        <div id="teachers" class="tab-pane {% if title == 'Teachers'  %} in active {% endif %} tab-custon-menu-bg animated flipInX">
                            <ul class="main-menu-dropdown">
                                <li><a href="{% url 'new-teacher'  %}">Add Teacher</a>
                                </li>
                                <li><a href="{% url 'view-teachers'  %}">View Teachers</a>
                                </li>
                                <li><a href="{% url 'view-teacher-transfers'  %}">View Transfers</a>
                                </li>
                            </ul>
                        </div>
                        <div id="resources" class="tab-pane {% if title == 'Resources'  %} in active {% endif %} tab-custon-menu-bg animated flipInX">
                            <ul class="main-menu-dropdown">
                                <li><a href="{% url 'resource'  %}">Add Resource</a>
                                </li>
                                <li><a href="{% url 'view-resources'  %}">View Resources</a>
                                </li>
                                <li><a href="{% url 'allocated-resources'  %}">View Allocated Resources</a>
                                </li>
                            </ul>
                        </div>
                        <div id="marketing" class="tab-pane {% if title == 'Marketing'  %} in active {% endif %} tab-custon-menu-bg animated flipInX">
                            <ul class="main-menu-dropdown">
                                <li><a href="{% url 'ministry-home' %}">Add Product</a>
                                </li>
                                <li><a href="{% url 'ministry-home' %}">My Peoducts</a>
                                </li>
                                <li><a href="{% url 'ministry-home' %}">Peoducts On Sale</a>
                                </li>
                            </ul>
                        </div>
                        <div id="inbox" class="tab-pane {% if title == 'Inbox'  %} in active {% endif %} tab-custon-menu-bg animated flipInX">
                            <ul class="main-menu-dropdown">
                                <li><a href="{% url 'ministry-home' %}">Compose</a>
                                </li>
                                <li><a href="{% url 'ministry-home' %}">Inbox</a>
                                </li>
                                <li><a href="{% url 'ministry-home' %}">Send</a>
                                </li>
                            </ul>
                        </div>
                        <div id="settings" class="tab-pane {% if title == 'Settings'  %} in active {% endif %} tab-custon-menu-bg animated flipInX">
                            <ul class="main-menu-dropdown">
                                <li><a href="{% url 'ministry-home' %}">School</a>
                                </li>
                                <li><a href="{% url 'ministry-home' %}">Teacher</a>
                                </li>
                                <li><a href="{% url 'ministry-home' %}">Resource</a>
                                </li>
                                <li><a href="{% url 'ministry-home' %}">Facility</a>
                                </li>
                                <li><a href="{% url 'ministry-home' %}">Student</a>
                                </li>
                                <li><a href="{% url 'ministry-home' %}">Marketing</a>
                                </li>
                                <li><a href="{% url 'ministry-home' %}">Inbox</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

<!-- Mob Menu -->
    <div class="mobile-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="mobile-menu">
                <nav id="dropdown">
                    <ul class="mobile-menu-nav">
                    {% if request.user|has_group:"Ministry" %}
                        <li><a data-toggle="collapse" data-target="#Home" href="#">Home <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>

                            <ul id="Home" class="collapse dropdown-header-top">
                                <li class="active" ><a href="">Home</a>
                                </li>
                            </ul>
                        </li>
                        <li><a data-toggle="collapse" data-target="#acades" href="#">Acades <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                            <ul id="acades" class="collapse dropdown-header-top">
                                <li><a href="{% url 'ministry-home'  %}">Add Acade</a></li>
                                <li><a href="{% url 'ministry-home'  %}">View Acades</a>
                                </li>
                            </ul>
                        </li>
                        <li><a data-toggle="collapse" data-target="#rooms" href="#">Rooms <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                        <ul id="rooms" class="collapse dropdown-header-top">
                                <li><a href="{% url 'ministry-home'  %}">Add Room</a>
                                </li>
                                <li><a href="{% url 'ministry-home'  %}">All Rooms</a>
                                </li>
                                <li><a href="{% url 'ministry-home'  %}">Free Rooms</a>
                                </li>
                                <li><a href="{% url 'ministry-home'  %}">Occupied Rooms</a>
                                </li>
                                <li><a href="{% url 'ministry-home'  %}">Unavailable Rooms</a>
                                </li>
                                <li><a href="{% url 'ministry-home'  %}">Booking Requests</a>
                                </li>
                            </ul>

                        </li>
                        <li><a data-toggle="collapse" data-target="#owners" href="#">Owner <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                        <ul id="owners" class="collapse dropdown-header-top">
                                <li><a href="{% url 'ministry-home'  %}">Add Owner</a>
                                </li>
                                <li><a href="{% url 'ministry-home'  %}">All Owners</a>
                                </li>
                                <li><a href="{% url 'ministry-home'  %}">Current Owners</a>
                                </li>
                                <li><a href="{% url 'ministry-home'  %}">Previous Owners</a>
                                </li>
                            </ul>
                        </li>
                        <li><a data-toggle="collapse" data-target="#tenants" href="#">Tenants <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                            <ul id="tenants" class="collapse dropdown-header-top">
                                <li><a href="{% url 'ministry-home'  %}">Booking Requests</a>
                                </li>
                                <li><a href="{% url 'ministry-home'  %}">Pending Bookings</a>
                                </li>
                                <li><a href="{% url 'ministry-home'  %}">Rejected Bookings</a>
                                </li>
                                <li><a href="{% url 'ministry-home'  %}">All Tenants</a>
                                </li>
                                <li><a href="{% url 'ministry-home'  %}">Current Tenants</a>
                                </li>
                                <li><a href="{% url 'ministry-home'  %}">Previous Tenants</a>
                                </li>
                            </ul>
                        </li>

                        <li><a data-toggle="collapse" data-target="#rents" href="#">Rent <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                            <ul id="rents" class="collapse dropdown-header-top">
                                <li><a href="{% url 'ministry-home' %}">Add Rent</a>
                                </li>
                                <li><a href="{% url 'ministry-home' %}">View Rent</a>
                                </li>
                            </ul>
                        </li>
                        <li><a data-toggle="collapse" data-target="#employees" href="#">Employees <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                            <ul id="employees" class="collapse dropdown-header-top">
                                <li><a href="{% url 'ministry-home' %}">Add Employee</a>
                                </li>
                                <li><a href="{% url 'ministry-home' %}">All Employees</a>
                                </li>
                            </ul>
                        </li>
                        <li><a data-toggle="collapse" data-target="#bills" href="#">Bills <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                            <ul id="bills" class="collapse dropdown-header-top">
                                <li><a href="{% url 'ministry-home' %}">Add Bill</a>
                                </li>
                                <li><a href="{% url 'ministry-home' %}">All Bills</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}


                    </ul>
                    </nav>
                </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock menu %}
    <div class="container">
    <div class="row">
    <div class="col-lg-12">
        {% if messages%}
            {% for message in messages %}
                <div class="alert alert-{{message.tags}}">
                    {{ message }}
                                                
                </div>
            {% endfor %}
        {% endif %}
    </div>
    </div>
    </div>
    {% block content %}

    {% endblock content %}
    <!-- Chat Box Start-->
    <div class="chat-list-wrap">
        <div class="chat-list-adminpro">
            <div class="chat-button">
                <span data-toggle="collapse" data-target="#chat" class="chat-icon-link"><i class="fa fa-comments"></i></span>
            </div>
            <div id="chat" class="collapse chat-box-wrap shadow-reset animated zoomInLeft">
                <div class="chat-main-list">
                    <div class="chat-heading">
                        <h2>Messanger</h2>
                    </div>
                    <div class="chat-content chat-scrollbar">
                        <div class="author-chat">
                            <h3>Monica <span class="chat-date">10:15 am</span></h3>
                            <p>Hi, what you are doing and where are you gay?</p>
                        </div>
                        <div class="client-chat">
                            <h3>Mamun <span class="chat-date">10:10 am</span></h3>
                            <p>Now working in graphic design with coding and you?</p>
                        </div>
                        <div class="author-chat">
                            <h3>Monica <span class="chat-date">10:05 am</span></h3>
                            <p>Practice in programming</p>
                        </div>
                        <div class="client-chat">
                            <h3>Mamun <span class="chat-date">10:02 am</span></h3>
                            <p>That's good man! carry on...</p>
                        </div>
                    </div>
                    <div class="chat-send">
                        <input type="text" placeholder="Type..." />
                        <span><button type="submit">Send</button></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}

    {% if title == 'Register' %}

 <div class="button-adminpro-area mg-t-30 mg-b-30">
<div class="container">
<div class="row">
<div class="col-md-3">
</div>
<div class="col-md-6">
<div class="button-ad-wrap mg-b-40 mg-t-40">

        <h4>Please Create an account to Join!</h4>    
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}    
                <fieldset>
                    {{ form|crispy }}
                    <button class="btn btn-success mg-b-4 " style="margin-bottom: 5%; margin: 5%;" type="submit">Register</button>
                    <a class="btn btn-primary" style="margin-bottom: 5%; margin: 5%;" href="{% url 'login' %}">Already have an account</a>
                </fieldset>
            </form>
        </div> 
</div>
</div>
</div>
</div>
{% elif title == 'Logged out' %}
<div class="row mg-t-40 mg-b-40"></div>
<div class="button-adminpro-area mg-t-40 mg-b-40">
<div class="container mg-t-40 mg-b-40">
<div class="row mg-t-40 mg-b-40">
<div class="col-md-4">
</div>
<div class="col-md-4">
<div class="button-ad-wrap mg-b-40 mg-t-40">

        <h4>Please Login again! or Register!</h4>    
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}    
                <fieldset>
                    {{ form|crispy }}
                    <a class="btn btn-success" style="margin-bottom: 5%; margin: 5%;" href="{% url 'login' %}">Login</a>
                    <a class="btn btn-primary" style="margin-bottom: 5%; margin: 5%;" href="{% url 'register' %}">Dont have an account</a>
                </fieldset>
            </form>
        </div> 
</div>
</div>
</div>
</div>
    {% elif title == 'Home' %}
    <div class="row mg-t-40 mg-b-40"></div>
<div class="button-adminpro-area mg-t-40 mg-b-40">
<div class="container mg-t-40 mg-b-40">
<div class="row mg-t-40 mg-b-40">
<div class="col-md-4">
</div>
<div class="col-md-4">
<div class="button-ad-wrap mg-b-40 mg-t-40">

        <h4>Please Login again! or Register!</h4>    
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}    
                <fieldset>
                    {{ form|crispy }}
                    <a class="btn btn-success" style="margin-bottom: 5%; margin: 5%;" href="{% url 'login' %}">Login</a>
                    <a class="btn btn-primary" style="margin-bottom: 5%; margin: 5%;" href="{% url 'register' %}">Dont have an account</a>
                </fieldset>
            </form>
        </div> 
</div>
</div>
</div>
</div>
    {% else %}

<div class="button-adminpro-area mg-t-40 mg-b-40">
<div class="container mg-t-40 mg-b-40">
<div class="row mg-t-40 mg-b-40">
<div class="col-md-4">
</div>
<div class="col-md-4">
<div class="button-ad-wrap mg-b-40 mg-t-40">

        <h4>Please Login to get Started</h4>    
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}    
                <fieldset>
                    {{ form|crispy }}
                    <button class="btn btn-success mg-b-4 " style="margin-bottom: 5%; margin: 5%;" type="submit">Login</button>
                    <a class="btn btn-primary" style="margin-bottom: 5%; margin: 5%;" href="{% url 'register' %}">Dont have an account</a>
                </fieldset>
            </form>
        </div> 
</div>
</div>
</div>
</div>
{% endif %}
{% endif %}
    <!-- Chat Box End-->
        <!-- Footer Start-->
    <div class="footer-copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-copy-right">
                        <p>Copyright &#169; 2019 AMS All rights reserved. Designed and Powered by <a href="https://globalautosystems.co.ug">Glabal Auto Systems</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
    <!-- jquery
		============================================ -->
    <script src="{% static 'js/vendor/jquery-1.11.3.min.js' %}"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="{% static 'js/jquery.meanmenu.js' %}"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <!-- sticky JS
		============================================ -->
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <!-- counterup JS
		============================================ -->
    <script src="{% static 'js/counterup/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/counterup/waypoints.min.js' %}"></script>
    <script src="{% static 'js/counterup/counterup-active.js' %}"></script>
    <!-- peity JS
		============================================ -->
    <script src="{% static 'js/peity/jquery.peity.min.js' %}"></script>
    <script src="{% static 'js/peity/peity-active.js' %}"></script>
        <!-- rounded-counter JS
        ============================================ -->
    <script src="{% static 'js/rounded-counter/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/rounded-counter/jquery.knob.js' %}"></script>
    <script src="{% static 'js/rounded-counter/jquery.appear.js' %}"></script>
    <script src="{% static 'js/rounded-counter/knob-active.js' %}"></script>
    <!-- sparkline JS
		============================================ -->
    <script src="{% static 'js/sparkline/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'js/sparkline/sparkline-active.js' %}"></script>
    <!-- flot JS
		============================================ -->
    <script src="{% static 'js/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'js/flot/jquery.flot.tooltip.min.js' %}"></script>
    <script src="{% static 'js/flot/jquery.flot.spline.js' %}"></script>
    <script src="{% static 'js/flot/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'js/flot/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'js/flot/Chart.min.js' %}"></script>
    <script src="{% static 'js/flot/flot-active.js' %}"></script>
    <!-- map JS
		============================================ -->
    <script src="{% static 'js/map/raphael.min.js' %}"></script>
    <script src="{% static 'js/map/jquery.mapael.js' %}"></script>
    <script src="{% static 'js/map/france_departments.js' %}"></script>
    <script src="{% static 'js/map/world_countries.js' %}"></script>
    <script src="{% static 'js/map/usa_states.js' %}"></script>
    <script src="{% static 'js/map/map-active.js' %}"></script>
    <!-- data table JS
		============================================ -->
    <script src="{% static 'js/data-table/bootstrap-table.js' %}"></script>
    <script src="{% static 'js/data-table/tableExport.js' %}"></script>
    <script src="{% static 'js/data-table/data-table-active.js' %}"></script>
    <script src="{% static 'js/data-table/bootstrap-table-editable.js' %}"></script>
    <script src="{% static 'js/data-table/bootstrap-editable.js' %}"></script>
    <script src="{% static 'js/data-table/bootstrap-table-resizable.js' %}"></script>
    <script src="{% static 'js/data-table/colResizable-1.5.source.js' %}"></script>
    <script src="{% static 'js/data-table/bootstrap-table-export.js' %}"></script>
    <!-- switcher JS
		============================================ -->
    <script src="{% static 'js/switcher/styleswitch.js' %}"></script>
    <script src="{% static 'js/switcher/switch-active.js' %}"></script>
    <!-- modal JS
        ============================================ -->
    <script src="{% static 'js/modal-active.js' %}"></script>
    <!-- icheck JS
        ============================================ -->
    <script src="{% static 'js/icheck/icheck.min.js' %}"></script>
    <script src="{% static 'js/icheck/icheck-active.js' %}"></script>
    <!-- main JS
		============================================ -->
    <script src="{% static 'js/main.js' %}"></script>

    <script type="text/javascript">
    var modalDiv = $("#modal-div");

    $(".open-modal").on("click", function() {
      $.ajax({
        url: $(this).attr("data-url"),
        success: function(data) {
          modalDiv.html(data);
          $("#myEdit").modal();
        }
      });
    });
    </script>
</body>

</html>
