{% extends 'ministry/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %} 
<div class="button-adminpro-area">
<div class="container">
<div class="row">
    <div class="col-md-6">
        <div class="button-ad-wrap mg-b-40 shadow-reset">
        <h4>Resource upload form</h4>	
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}	
                <fieldset>
                    {{ form|crispy }}
                    <button class="btn btn-success pull-right" type="submit">Submit</button>
                </fieldset>
            </form>
        </div> 
    </div>
    <div class="col-lg-6">
        <div class="sparkline13-list shadow-reset">
            <div class="sparkline13-hd">
                <div class="main-sparkline13-hd">
                    <h1><span class="table-project-n"> Recently Published Resources</span></h1>
                    <div class="sparkline13-outline-icon">
                        <span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
                        <span><i class="fa fa-wrench"></i></span>
                        <span class="sparkline13-collapse-close"><i class="fa fa-times"></i></span>
                    </div>
                </div>
            </div>
            <div class="sparkline13-graph">
                <div class="datatable-dashv1-list custom-datatable-overright">
                    <div id="toolbar">
                        <select class="form-control">
                            <option value="">Export Basic</option>
                            <option value="all">Export All</option>
                            <option value="selected">Export Selected</option>
                        </select>
                    </div>
                    <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="false" data-show-pagination-switch="false" data-show-refresh="false" data-key-events="false" data-show-toggle="false" data-resizable="true" data-cookie="true" data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                        <thead>
                            <tr>
                                <th data-field="state" data-checkbox="true"></th>
                                <th data-field="name" data-editable="false">Resource Title</th>
                                <th data-field="reg_no" data-editable="false">File</th>
                                <th data-field="gender" data-editable="false">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for comm in resources %}
                            <tr>
                                <td></td>
                                <td>{{comm.topic}}</td>
                                <td>{% if comm.upload %}<a href="{{comm.upload.url}}" target="_blank"><i class="fa fa-eye"></i></a>{% endif %}</td>
                                <td><a href="" title="Edit"><i class="fa fa-pencil"></i></a> | <a href="" style="color: red;" title="Delete"><i class="fa fa-trash"></i></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> 
</div>
</div>
</div>
</div>
{% endblock content %}