{% extends 'ministry/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %} 
<div class="button-adminpro-area mg-b-40">
<div class="container">
<div class="user-profile-wrap shadow-reset">
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-2">
                <div class="">
                    <img src="{{ object.logo.url }}" alt="{{ object.name }} Logo" />
                </div>
                <div class="mg-t-30">
                {{ object.name }} - {{ object.motto }}
                </div>
            </div>
            <div class="col-lg-10">
            <div class="col-lg-6">
                <div class="user-profile-content">
                    <h2>School Information</h2>
                    <table  class="table small m-b-xs">
                    <tr>
                    <td>Name: </td><td><strong>{{ object.name }}</strong></td></tr>
                    <tr><td>District: </td><td><strong>{{object.parish.district}}</strong></td></tr>
                    <tr><td>County: </td><td><strong>{{ object.parish.county }}</strong></td></tr>
                    <tr><td>Sub-county: </td><td><strong>{{ object.parish.subcounty }}</strong></td></tr>
                    <tr><td>Parish: </td><td><strong>{{ object.parish }}</strong></td></tr>
                    <tr><td>Address: </td><td><strong>{{ object.address }}</strong></td></tr>
                    <tr><td>P.O.Box: </td><td><strong>{{ object.box_no }}</strong></td></tr>
                    <tr><td>Email: </td><td><strong>{{ object.email }}</strong></td></tr>
                    <tr><td>Website: </td><td><strong>{{ object.website }}</strong></td></tr>
                    <tr><td>Phone: </td><td><strong>{{ object.phone }}</strong></td></tr>
                    <tr><td>Fax: </td><td><strong>{{ object.fax }}</strong></td></tr>
                    <tr><td>Service Code: </td><td><strong>{{ object.service_code }}</strong></td></tr>
                    <td>Reg No.: </td><td><strong>{{ object.reg_no }}</strong></td></tr>
                    <td>Center No.: </td><td><strong>{{ object.cen_no }}</strong></td></tr>
                    </table>
                </div>
                </div>
                <div class="col-lg-6">
                    <div class="user-profile-content">
                    <h2>School Particulars</h2>
                    <table  class="table small m-b-xs">
                    <tr><td>Operation Satus: </td><td><strong>{{ object.operation_status }}</strong></td></tr>
                    <tr><td>Founder: </td><td><strong>{{ object.founder }}</strong></td></tr>
                    <tr><td>Funder: </td><td><strong>{{ object.funder }}</strong></td></tr>
                    <tr><td>Boys/Girls: </td><td><strong>{{ object.category }}</strong></td></tr>
                    <tr><td>Day/Boarding: </td><td><strong>{{ object.section }}</strong></td></tr>
                    </tr>
                    <td>Registry Status: </td><td><strong>{{ object.regstatus }}</strong></td></tr>
                    </tr>
                    <td>Nearest School: </td><td><strong>{{ object.distance_to_nearest_school }}</strong></td></tr>
                    </tr>
                    <td>Main DEO Office: </td><td><strong>{{ object.distance_to_deo_office }}</strong></td></tr>
                    </tr>
                    <td>Urban/Rural: </td><td><strong>{{ object.rural_urban }}</strong></td></tr>
                    </tr>
                    <td>Founding Year: </td><td><strong>{{ object.yr_est }}</strong></td></tr>
                    </tr>
                    <td>Level: </td><td><strong>{{ object.level }}</strong></td></tr>
                    </tr>
                    <td>Highest Class: </td><td><strong>{{ object.highest_class }}</strong></td></tr>
                    </tr>
                    <td>Access: </td><td><strong>{{ object.access }}</strong></td></tr>
                    </table>
                </div>
            </div>
            </div>
        </div>
    </div>
    </div>
</div>
</div>
</div>
{% endblock content %}