{% extends 'ministry/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %} 
<div class="button-adminpro-area mg-t-40">
<div class="container">
<div class="row">
<div class="col-md-6">
<div class="button-ad-wrap mg-b-40">

        <h4>Teacher Registration Form</h4>	
			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}	
				<fieldset>
					{{ form|crispy }}
					<button class="btn btn-success mg-b-4 " style="margin-bottom: 5%; margin: 5%;" type="submit">Submit</button>
				</fieldset>
			</form>
		</div> 
</div>
<div class="col-md-6">
<div class="button-ad-wrap mg-b-40">
    <h4>Recent teachers Registered</h4>	
	<div class="static-table-list">
        <table class="table border-table table-stripped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Reg No.</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for teacher in teachers %}
					<tr>
						<td>{{ forloop.counter0|add:teachers.start_index }}</td>
						<td><a href="{% url 'teacher-details' teacher.id %}">{{ teacher.name }}</a></td>
						<td>{{ teacher.reg_no }}</td>
						<td>
						<a href="{% url 'update-teacher' teacher.id %}" class="tooltip-success" data-rel="tooltip" title="Edit">
							<span class="green">
								<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
							</span>
						</a>
						</td>
					</tr>

					{% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination">
    <span class="step-links">
        {% if teachers.has_previous %}
            <a class="btn btn-custon-three btn-default btn-sm" href="?page=1">&laquo; first</a>
            <a class="btn btn-custon-three btn-default btn-sm" href="?page={{ teachers.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ teachers.number }} of {{ teachers.paginator.num_pages }}.
        </span>
        {% if teachers.has_next %}
            <a class="btn btn-custon-three btn-default btn-sm" href="?page={{ teachers.next_page_number }}">next</a>
            <a class="btn btn-custon-three btn-default btn-sm" href="?page={{ teachers.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
	</div>
</div><!-- /.widget-box -->
		</div>    

	</div>
</div>
</div>
</div>
{% endblock content %}