{% extends 'ministry/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %} 
<div class="button-adminpro-area mg-b-40 mg-t-40">
<div class="container">
<div class="user-profile-wrap shadow-reset">
<div class="row">
    <div class="col-lg-8">
        <div class="row">
            <div class="col-lg-2">
                <div class="user-profile-img">
                    <img src="{{ object.photo.url }}" alt="{{ object.name }}" />
                </div>
            </div>
            <div class="col-lg-10">
            <div class="col-lg-6">
                <div class="user-profile-content">
                    <h2>Bio Data</h2>
                    <table  class="table small m-b-xs">
                    <tr>
                    <td>Name: </td><td><strong>{{ object.name }}</strong></td></tr>
                    <tr><td>Reg No: </td><td><strong>{{ object.reg_no }}</strong></td></tr>
                    <tr><td>DoB: </td><td><strong>{{ object.dob }}</strong></td></tr>
                    <tr><td>Gender: </td><td><strong>{{ object.gender }}</strong></td></tr>
                    <tr><td>Email: </td><td><strong>{{ object.email }}</strong></td></tr>
                    <tr><td>Status: </td>
                    <td>{% if object.status.id == 1 %}
                    <a href="{% url 'update-teacher' object.id %}" class="btn btn-custon-two btn-success btn-xs">{{object.status}}</a>
                    {% else %}
                    <a href="{% url 'update-teacher' object.id %}" class="btn btn-custon-two btn-danger btn-xs" target="_blank">{{object.status}}</a>
                    {% endif %}</td></tr>
                    </table>
                </div>
                </div>
                <div class="col-lg-6">
    				<div class="user-profile-content">
                    <h2>Schools</h2>
                    <table  class="table small m-b-xs">
                    <tr><td>District: </td><td><strong>{{ user.userprofile.district }}</strong></td></tr>
                    <tr><td>Constituency: </td><td><strong>{{ user.userprofile.constituency }}</strong></td></tr>
                    <tr><td>Subcounty: </td><td><strong>{{ user.userprofile.subcounty }}</strong></td></tr>
                    <tr><td>Parish: </td><td><strong>{{ user.userprofile.parish }}</strong></td></tr>
                    <tr><td>Village: </td><td><strong>{{ user.userprofile.village }}</strong></td></tr>
                    </table>
                </div>
    		</div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="user-profile-social-list">
        <H4 class="" >Qualifications</H4>
            <table class="table small m-b-xs">
                <tbody>
                <tr>
                      <th>Project</th>
                      <th>Role</th>

                    </tr>
                    <tr>
                        <td>
                            <strong>542</strong> Projects
                        </td>
                        <td>
                            <strong>222</strong> Followers
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
</div>
</div>
</div>
{% endblock content %}