{% extends 'ministry/base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block content %} 
<div class="project-details-area mg-t-40 mg-b-40">
<div class="container">
<div class="row">
<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
<div class="project-details-wrap shadow-reset">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div class="project-details-title">
                <h2><span class="profile-details-name-nn">Upload</span></h2>
            </div>
            <ul id="adminpro-demo2" class="comment-action-st collapse">
                </li>
                <li><a href="" target="_blank">Update</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class="admin-comment-month project-details-action">
                <button class="comment-setting" data-toggle="collapse" data-target="#adminpro-demo2"></button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="project-details-mg">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="project-details-st">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}  
                                {{sample_form.errors}}
                                <input type="file" name="data_file">
                                    <button class="btn btn-success mg-b-4 " style="margin-bottom: 5%; margin: 5%;" type="submit">Upload</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">

</div>
</div>
</div>
</div>
{% endblock content %}