{% load static %}
{% load crispy_forms_tags %}
{% load has_group %}
{% load humanize %}
<!doctype html>
<html class="no-js" lang="en" style="background-color: white;">

<head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {% if title %}
        <title>UNSER - {{ title }}</title>
        {% else %}
        <title>UNSER</title>
        {% endif %}
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
        ============================================ -->
    <link rel="shortcut icon" type="image/PNG" href="{% static 'img/1.PNG' %}">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <!-- adminpro icon CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'css/adminpro-custon-icon.css' %}">
    <!-- meanmenu icon CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">
        <!-- modals CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'css/modals.css' %}">
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <!-- data-table CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'css/data-table/bootstrap-table.css' %}">
    <link rel="stylesheet" href="{% static 'css/data-table/bootstrap-editable.css' %}">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <!-- charts C3 CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'css/c3.min.css' %}">
    <!-- forms CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'css/form/all-type-forms.css' %}">
    <!-- switcher CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'css/switcher/color-switcher.css' %}">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- modernizr JS
        ============================================ -->
    <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
    <!-- Color Css Files
        ============================================ -->
    <link rel="alternate stylesheet" type="text/css" href="{% static 'css/switcher/color-one.css' %}" title="color-one" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'css/switcher/color-two.css' %}" title="color-two" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'css/switcher/color-three.css' %}" title="color-three" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'css/switcher/color-four.css' %}" title="color-four" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'css/switcher/color-five.css' %}" title="color-five" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'css/switcher/color-six.css' %}" title="color-six" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'css/switcher/color-seven.css' %}" title="color-seven" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'css/switcher/color-eight.css' %}" title="color-eight" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'css/switcher/color-nine.css' %}" title="color-nine" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'css/switcher/color-ten.css' %}" title="color-ten" media="screen" />
</head>
<style> 
    #body {
        background-color: white;
        /*background-image: url("{% static 'img/bgac.jpg' %}");*/
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
    }

    .mb-4,
    .my-4 {
        margin-bottom: 1.5rem !important;
    }

    .shadow {
        box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15) !important;
    }

    .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
    }

    *,
    ::after,
    ::before {
        box-sizing: border-box;
    }

    .card-header:first-child {
        border-radius: calc(.35rem - 1px) calc(.35rem - 1px) 0 0;
    }

    .cards {
        margin: 0 auto;
        max-width: 800px;
    }

    .px-3 {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .pb-3,
    .py-3 {
        padding-bottom: 1rem !important;
    }

    .pt-3,
    .py-3 {
        padding-top: 1rem !important;
    }

    .card-header {
        padding: .75rem 1.25rem;
        margin-bottom: 0;
        background-color: #f8f9fc;
        border-bottom: 1px solid #e3e6f0;
    }

    .card-body {
        flex: 1 1 auto;
        padding: 1.25rem;
    }

    .square-bullets {
        list-style: square;
        margin: 0px 30px;
    }

    .h-100 {
        height: 100% !important;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
        opacity: .4;

    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: black;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: darkslategray;
    }
</style>

<body id="body">
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Header top area start-->
    <div class="header-top-area">
        <div style="width:100%;">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a href="#" class=""><img src="{% static 'img/ug.png' %}" alt="" 
                    style="width:100%;"></a>
                    <a href="#" class=""><img src="{% static 'img/81.png' %}" alt="" 
                    style="width:100%;"></a>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="header-top-area">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <div class="header-top-menu">
                        <ul class="nav navbar-nav mai-top-nav">
                            <li class="nav-item"><a href="" class="nav-link">Home</a>
                            </li>
                            <li class="nav-item"><a href="" class="nav-link">Schools</a>
                            </li>
                            <li class="nav-item"><a href="" class="nav-link">D.E.Os</a>
                            </li>
                            <li class="nav-item"><a href="" class="nav-link">Teachers</a>
                            </li>
                            <li class="nav-item"><a href="" class="nav-link">Resources</a>
                            </li>
                            <li class="nav-item"><a href="" class="nav-link">Service Providers</a>
                            </li>
                            <li class="nav-item"><a href="" class="nav-link">Communication</a>
                            </li>
                            <li class="nav-item"><a href="" class="nav-link">COVID-19 Response</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-9 col-sm-6 col-xs-12">
                    <div class="header-right-info">
                        <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                       
                            <li class="nav-item">
                                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                    <span class="adminpro-icon adminpro-user-rounded header-riht-inf"></span>
                                    <span class="admin-name">{% if user.is_authenticated %}{{ user.first_name}}{% else %} Get Started{% endif %}</span>
                                    <span class="author-project-icon adminpro-icon adminpro-down-arrow"></span>
                                </a>
                                <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated flipInX">
                                {% if user.is_authenticated %}
                                    <li><a href="{% url 'profile' %}"><span class="adminpro-icon adminpro-home-admin author-log-ic"></span>My Account</a>
                                    </li>
                                    <li><a href="{% url 'update-profile' %}"><span class="adminpro-icon adminpro-user-rounded author-log-ic"></span>Update Profile</a>
                                    </li>
                                    <li><a href="{% url 'logout' %}"><span class="adminpro-icon adminpro-locked author-log-ic"></span>Log Out</a>
                                    </li>
                                    {% else %}
                                    <li><a href="{% url 'register' %}"><span class="adminpro-icon adminpro-locked author-log-ic"></span>Register</a>
                                    </li>
                                    <li><a href="{% url 'login' %}"><span class="adminpro-icon adminpro-locked author-log-ic"></span>Login</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header top area end-->
    {% block content %}

    {% endblock content %}
    <!-- Chat Box End-->
        <!-- Footer Start-->
    <div class="footer-copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-copy-right">
                        <p>Copyright &#169; 2019 UNSER All rights reserved. Designed and Powered by <a href="https://globalautosystems.co.ug">Global Auto Systems</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
    <!-- jquery
        ============================================ -->
    <script src="{% static 'js/vendor/jquery-1.11.3.min.js' %}"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="{% static 'js/jquery.meanmenu.js' %}"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <!-- sticky JS
        ============================================ -->
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <!-- counterup JS
        ============================================ -->
    <script src="{% static 'js/counterup/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/counterup/waypoints.min.js' %}"></script>
    <script src="{% static 'js/counterup/counterup-active.js' %}"></script>
    <!-- peity JS
        ============================================ -->
    <script src="{% static 'js/peity/jquery.peity.min.js' %}"></script>
    <script src="{% static 'js/peity/peity-active.js' %}"></script>
        <!-- rounded-counter JS
        ============================================ -->
    <script src="{% static 'js/rounded-counter/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/rounded-counter/jquery.knob.js' %}"></script>
    <script src="{% static 'js/rounded-counter/jquery.appear.js' %}"></script>
    <script src="{% static 'js/rounded-counter/knob-active.js' %}"></script>
    <!-- sparkline JS
        ============================================ -->
    <script src="{% static 'js/sparkline/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'js/sparkline/sparkline-active.js' %}"></script>
    <!-- flot JS
        ============================================ -->
    <script src="{% static 'js/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'js/flot/jquery.flot.tooltip.min.js' %}"></script>
    <script src="{% static 'js/flot/jquery.flot.spline.js' %}"></script>
    <script src="{% static 'js/flot/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'js/flot/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'js/flot/Chart.min.js' %}"></script>
    <script src="{% static 'js/flot/flot-active.js' %}"></script>
    <!-- map JS
        ============================================ -->
    <script src="{% static 'js/map/raphael.min.js' %}"></script>
    <script src="{% static 'js/map/jquery.mapael.js' %}"></script>
    <script src="{% static 'js/map/france_departments.js' %}"></script>
    <script src="{% static 'js/map/world_countries.js' %}"></script>
    <script src="{% static 'js/map/usa_states.js' %}"></script>
    <script src="{% static 'js/map/map-active.js' %}"></script>
    <!-- data table JS
        ============================================ -->
    <script src="{% static 'js/data-table/bootstrap-table.js' %}"></script>
    <script src="{% static 'js/data-table/tableExport.js' %}"></script>
    <script src="{% static 'js/data-table/data-table-active.js' %}"></script>
    <script src="{% static 'js/data-table/bootstrap-table-editable.js' %}"></script>
    <script src="{% static 'js/data-table/bootstrap-editable.js' %}"></script>
    <script src="{% static 'js/data-table/bootstrap-table-resizable.js' %}"></script>
    <script src="{% static 'js/data-table/colResizable-1.5.source.js' %}"></script>
    <script src="{% static 'js/data-table/bootstrap-table-export.js' %}"></script>
    <!-- switcher JS
        ============================================ -->
    <script src="{% static 'js/switcher/styleswitch.js' %}"></script>
    <script src="{% static 'js/switcher/switch-active.js' %}"></script>
    <!-- modal JS
        ============================================ -->
    <script src="{% static 'js/modal-active.js' %}"></script>
    <!-- icheck JS
        ============================================ -->
    <script src="{% static 'js/icheck/icheck.min.js' %}"></script>
    <script src="{% static 'js/icheck/icheck-active.js' %}"></script>
    <!-- main JS
        ============================================ -->
    <script src="{% static 'js/main.js' %}"></script>

    <script type="text/javascript">
    var modalDiv = $("#modal-div");

    $(".open-modal").on("click", function() {
      $.ajax({
        url: $(this).attr("data-url"),
        success: function(data) {
          modalDiv.html(data);
          $("#myEdit").modal();
        }
      });
    });
    </script>
</body>

</html>
