{% extends 'public/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-9 mg-t-40">
            <div class="px-3">
                <h3 style="text-align: center;"><b>Latest Resouces from Ministry of Education</b></h3>
                <hr>
            </div>
            <div class="sparkline13-list shadow-reset">
                <div class="sparkline13-hd">
                    <div class="main-sparkline13-hd">
                        <h1><span class="table-project-n"> Recently Published Resources</span></h1>
                        <div class="sparkline13-outline-icon">
                            <span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
                            <span><i class="fa fa-wrench"></i></span>
                            <span class="sparkline13-collapse-close"><i class="fa fa-times"></i></span>
                        </div>
                    </div>
                </div>
                <div class="sparkline13-graph">
                    <div class="datatable-dashv1-list custom-datatable-overright">
                        <div id="toolbar">
                        </div>
                        <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="false" data-show-pagination-switch="false" data-show-refresh="false" data-key-events="false" data-show-toggle="false" data-resizable="true" data-cookie="true" data-cookie-id-table="saveId" data-show-export="false" data-click-to-select="true" data-toolbar="#toolbar">
                            <thead>
                                <tr>
                                    <th data-field="state" data-checkbox="true"></th>
                                    <th data-field="name" data-editable="false">Resource Title</th>
                                    <th data-field="reg_no" data-editable="false">File</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for comm in resources %}
                                <tr>
                                    <td></td>
                                    <td>{{comm.topic}}</td>
                                    <td>{% if comm.upload %}<a href="{{comm.upload.url}}" target="_blank" style="color: green; font-weight: bolder;">Download</a>{% endif %}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="container-fluid row center py-3">
                <img src="{% static 'img/flag.gif' %}" alt="">
            </div>
            <div class="py-3">
                <h4><b>Uganda Cancer Institute</b></h4>
                <hr>
                <div style="height:700px; overflow: auto;">
                    <a class="twitter-timeline" href="https://twitter.com/ugandacancerins?lang=en">Tweets
                        by
                        Minstry Of Education & Sports Ug</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}