{% extends 'public/base.html' %}
{% load static %}

{% block content %}
<div class="conntent">
<div class="section">
			<!-- CONTAINER -->
<div class="container">
<div class="row">
	<div class="col-xs-12">
	<div class="clearfix">
	<div class="pull-left">
	</div>
	<div class="pull-right tableTools-container"></div>
		</div>
		<div class="section-title">
		<h2 class="title">{{ total_schools }} Registered Schools</h2>
		</div>

		<!-- div.table-responsive -->

		<!-- div.dataTables_borderWrap -->
		<div>
			<table id="dynamic-table" class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
					
					<th class="center">
						No.
						</th>
					
						<th>School Name</th>
						<th>Hieghst Level</th>
						<th>Category</th>
						<th>Section</th>
						<th class="hidden-480">Type</th>

						<th>
							<i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
							Established On
						</th>
						<th>
						<i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
						Founder
						</th>
						<th>
						<i class="ace-icon fa fa-map-marker light-orange bigger-110"></i>
						Location
						</th>
					</tr>
				</thead>

				<tbody>
						
				
				{% for school in schools %}    
				<tr>
						
				<td class="center">
				{{ forloop.counter0|add:schools.start_index }}
				</td>
				<td>
					<a href="{% url 'school-details' school.id %}">{{ school.name }}</a>
				</td>
				<td>{{ school.level }}</td>
				<td>{{ school.category }}</td>
				<td>{{ school.section }}</td>
				<td>{{ school.schtype }}</td>
				<td>{{ school.yr_est }}</td>
				<td>{{ school.ownership }}</td>
				<td>{{ school.district }}, {{ school.region }} Ug.</td>
				</tr>
				{% endfor %} 
				
				</tbody>
			</table>
	<div class="pagination">
    <span class="step-links">
        {% if schools.has_previous %}
            <a class="btn btn-danger" href="?page=1">&laquo; first</a>
            <a class="btn btn-danger" href="?page={{ schools.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ schools.number }} of {{ schools.paginator.num_pages }}.
        </span>
        {% if schools.has_next %}
            <a class="btn btn-danger" href="?page={{ schools.next_page_number }}">next</a>
            <a class="btn btn-danger" href="?page={{ schools.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
	</div>
		</div>
	</div>
</div>
</div>
</div>
</div>
{% endblock content %}
	