{% extends 'public/base.html' %}
{% load static %}
{% block content %}

<div class="gcse-search"></div>

<script async src="https://cse.google.com/cse.js?cx=079925033a776328b"></script>
<!-- <div class="gcse-search"></div>

<script async src="https://cse.google.com/cse.js?cx=YOUR_ENGINE_ID"></script> -->

<div class="gcse-searchbox-only" data-resultsUrl="?q=malaria"></div>

<!-- <script async src="https://cse.google.com/cse.js?cx=YOUR_ENGINE_ID"></script> -->
<!-- <div class="gcse-searchresults-only"></div> -->

{% endblock content %}