{% extends 'ministry/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %} 
<div class="button-adminpro-area mg-t-40">
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="user-profile-wrap shadow-reset mg-b-40">
    <h4>Enrolment by Class, Sex and Age (<i><small>Age at the beginning of the first term</small></i>)
    </h4>  
    <div class="static-table-list">
        <table class="table border-table table-stripped" border="1" style="width: 100%;">
            <thead>
                <tr>
                    <th rowspan="2">Age</th>
                    {% for class in classes %}
                    <th colspan="2">{{class}}</th>
                    {% endfor %}
                    <th colspan="2">Total</th>
                </tr>
                <tr>
                    {% for class in classes %}
                    <th>M</th>
                    <th>F</th>
                    {% endfor %}
                    <th>M</th>
                    <th>F</th>
                </tr>
            </thead>
            <tbody>
                {% for age in ages %}
                    <tr>
                        <td>
                            <strong>
                                {{age}}
                            </strong>
                        </td>
                    {% for class in classes %}
                    <td>{% for student in students %}{% if student.class_name.id == class.id and student.age.id == age.id %} {{student.boys}} {% endif %}{% endfor %}</td>
                    <td>{% for student in students %}{% if student.class_name.id == class.id and student.age.id == age.id %}{{student.girls}}{% endif %}{% endfor %}</td>
                    {% endfor %}
                    <td></td>
                    <td></td>
                    </tr>
                {% endfor %}
                <tr>
                    <td><strong>Total</strong></td>
                    {% for class in classes %}
                    <td>{% for student in students %}{% if student.class_name.id == class.id and student.age.id == age.id %} {{student.boys}} {% endif %}{% endfor %}</td>
                    <td>{% for student in students %}{% if student.class_name.id == class.id and student.age.id == age.id %}{{student.girls}}{% endif %}{% endfor %}</td>
                    {% endfor %}
                    <td></td><td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div><!-- /.widget-box -->
</div>
<div class="col-md-12">
<div class="user-profile-wrap shadow-reset mg-b-40">
    <h4>Repeaters by Class and Sex (<i><small>pupils who repeated class during the year selected</small></i>)
    </h4>  
    <div class="static-table-list">
        <table class="table border-table table-stripped" border="1" style="width: 100%;">
            <thead>
                <tr>
                    <th rowspan="2"></th>
                    {% for class in classes %}
                    <th colspan="2">{{class}}</th>
                    {% endfor %}
                    <th colspan="2">Total</th>
                </tr>
                <tr>
                    {% for class in classes %}
                    <th>M</th>
                    <th>F</th>
                    {% endfor %}
                    <th>M</th>
                    <th>F</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>Repeaters</strong></td>
                    {% for class in classes %}
                    <td>{% for student in students %}{% if student.class_name.id == class.id and student.age.id == age.id %} {{student.boys}} {% endif %}{% endfor %}</td>
                    <td>{% for student in students %}{% if student.class_name.id == class.id and student.age.id == age.id %}{{student.girls}}{% endif %}{% endfor %}</td>
                    {% endfor %}
                    <td></td><td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div><!-- /.widget-box -->
</div>     
</div>
</div>
</div>
</div>
{% endblock content %}